@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
      body {
        background-color: #f2f2f2;
        font-family: "Quicksand", sans-serif;
      }

.main-container{
    margin:auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px #000000;

}
.main_content{
    line-height: 1.3em;
    font-size: 18px;
    font-weight: 500;
}
input[type="email"], input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f3f1f1;
    box-sizing: border-box;
    border-radius: 4px;
}
.main-button{
    background-color: #7386ac;
    border:none;
    color: white;
    padding:10px 22px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}
.image{
    width: 100%;
}
.social_handle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;

}

